<div class="page-header">
    <h1>scrux <small>A node.js to-do list app in Sails.js and CoffeeScript</small></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" style="display: none"></div>
        <div id="error" class="alert alert-danger" style="display: none"></div>
        <form action="/todo/create" method="post" id="newTodoItem">
            <div class="input-group">
                <input type="text" id="newTodoItemContent" class="form-control" placeholder="Buy milk">
                <span class="input-group-btn">
                    <input class="btn btn-default btn-success" type="submit" value="Add">
                </span>
            </div>
        </form>
        <br/>
        <table id="todos" class="table table-bordered table-striped">
            <tbody></tbody>
        </table>
    </div>
</div>