<hr/>
<p>
    &copy; 2013 <a href="http://kamalnasser.net">Kamal Nasser</a>
    <span class="pull-right">
        Source: <a href="https://github.com/KamalN7/scrux">KamalN7/scrux</a> - licensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.
    </span>
</p>